@charset "UTF-8";
/* CSS Document */

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	padding-top: 70px;
	display: table;
	width: 100%;
}

#wrap {
	display:table;
	height: 100%;
	width:100%;
}
 
#footer {
  	height: 30px;
	background-color:#290C31;
	font-size:11px;
	vertical-align:middle;
	display:table-row;
	color:#999;
}

form.login{
	background:#F2EEF2;
	border:1px solid #ddd;
}
